@use "~include-media/dist/include-media" as query with (
  $breakpoints: (
    phone: 450px,
    tablet: 810px,
    desktop: 1024px,
  )
);

.button-link {
  text-decoration: none;
}

.button-link > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contact-link-label {
  @include query.media("<=phone") {
    display: none;
  }
}

.contact-link {
  text-decoration: none;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.contact-link svg {
  width: 20px;
}

.accent-button {
  height: 100%;
  background-color: var(--cyan-10);
  border: 1px solid var(--cyan-20);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: var(--text-primary);
  cursor: pointer;
  font-family: var(--font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  @include query.media("<=tablet") {
    padding: 10px 20px;
  }
  text-align: center;
  transform: translateY(0);
  transition:
    transform 150ms,
    box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.accent-button:hover:not(:disabled) {
  background-color: var(--cyan-20);
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.accent-button:focus {
  outline: 3px solid #4369a8;
}

// Green accent
.accent-button.green {
  background-color: var(--green-10);
  border: 1px solid var(--green-20);
}

.accent-button.green:hover {
  background-color: var(--green-30);
}

.card.green {
  box-shadow: 10px 10px 0 var(--green-40);
}

// Pink accent
.accent-button.pink {
  background-color: var(--pink-10);
  border: 1px solid var(--pink-20);
}

.accent-button.pink:hover {
  background-color: var(--pink-20);
}

.card.pink {
  box-shadow: 10px 10px 0 var(--pink-30);
}

// Yellow accent
.accent-button.yellow {
  background-color: var(--yellow-10);
  border: 1px solid var(--yellow-20);
}

.accent-button.yellow:hover {
  background-color: var(--yellow-20);
}

.card.yellow {
  box-shadow: 10px 10px 0 var(--yellow-30);
}
