.card {
  display: flex;
  flex-direction: column;
  background: var(--background-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  box-shadow: 10px 10px 0 var(--blue-10);
  height: auto;
  max-width: 500px;
  min-width: 200px;
  min-height: 400px;
}

.titlebar {
  background: var(--background-secondary);
  border-bottom: 1px solid var(--border-primary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
}

.title {
  font-family: var(--font-sans-serif);
  font-size: 1.5rem;
  color: var(--text-primary);
  /* margin-bottom: 0.5rem; */
}

.description {
  font-family: var(--font-sans-serif);
  color: var(--text-primary);
}

.image {
  width: 100%;
  border-radius: 5px;
}

.window {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 10px;
}

.card > .window > .links {
  display: flex;
  gap: 10px;
}
