@use "src/theme/media" as query;

html {
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  --section-margin-top: 150px;

  @include query.media("<=tablet") {
    --section-margin-top: 100px;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

main,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans-serif);
}

p {
  font-family: var(--font-sans-serif);
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

input,
textarea {
  font-family: var(--font-sans-serif);
  font-weight: 400;
}

.header-1 {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 3.8rem;

  @include query.media("<=phone") {
    font-size: 3rem;
  }

  font-weight: 500;
}

.header-2 {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 2.8rem;
  font-weight: 500;
}

.subtitle-1 {
  margin-bottom: 5px;
  margin-top: 0;
  font-family: var(--font-sans-serif);
  font-size: 1.25rem;
}

.icon {
  fill: var(--text-primary);
  width: 20px;
  position: relative;
}

.li-icon {
  width: 20px;
}

.li-icon.mono svg {
  fill: var(--text-primary);
}

.underline-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1;

  &.contact-link {
    display: flex;
  }
}

.underline-link {
  background: linear-gradient(0deg, var(--cyan-20), var(--cyan-20)) no-repeat
    right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  padding-bottom: 2px;
  --bg-h: 4px;
}

.underline-link:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
