@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=DM+Mono:ital@0;1&family=Kalam&display=swap");

$font-sans-serif: "Inter", sans-serif;
$font-sans: "Noto Sans", sans-serif;
$font-mono: "DM Mono", monospace;
$font-handwriting: "Kalam", cursive;

:root {
  --font-sans-serif: #{$font-sans-serif};
  --font-sans: #{$font-sans};
  --font-mono: #{$font-mono};
  --font-handwriting: #{$font-handwriting};
}
