@use "~include-media/dist/include-media" as query;

.projects-container {
  width: 100%;
  margin-top: 200px;
  @include query.media('<=tablet') {
    margin-top: 100px;
  }
}

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
  grid-gap: 50px;
}

.project-video {
  width: 100%;
  height: auto;
}
