.container {
  width: 100%;
  margin-top: var(--section-margin-top);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(450px, 100%), 1fr));
  grid-row-gap: var(--section-margin-top);
  grid-column-gap: 50px;
}

.experiences,
.achievements {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}

.experience,
.achievement {
  display: flex;
  column-gap: 20px;
}

.achievement > a {
  height: fit-content;
}

.company-icon-container {
  height: 50px;
  width: 50px;
  aspect-ratio: 1 / 1;
  background-color: var(--background-secondary);
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.company-icon-container:hover {
  background-color: var(--icon-container-hover);
}

.company-icon {
  border-radius: 5px;
}

.roles {
  margin: 0;
  padding: 0.4rem;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  // column-gap: 4px;
  //align-items: center;
}

.role {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.role__title {
  font-size: 1.2rem;
  // margin-bottom: 10px;
}

.role__duration {
  font-size: 1rem;
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.icon-h {
  height: 16px;
  fill: var(--text-secondary);
}

.role__duration > .icon-h {
  height: 18px;
  width: 18px;
  margin-left: -3px;
}

.company-link {
  display: flex;
  column-gap: 8px;
}

.company-link__title {
  // to offset the padding added by .underline-link
  margin-bottom: -2px;
}

.experience__information {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 5px;
}
