---
import Layout from "@layouts/Layout.astro";

const embedUrl =
  "https://drive.google.com/file/d/19YXpH35ODAopDbyCPTRWImxE2PP_1I3N/preview";
---

<Layout title="Resume - Faraaz Biyabani">
  <div class="resume-container">
    <div class="resume">
      <iframe
        id="resume-iframe"
        title="Resume"
        src={embedUrl}
        allow="autoplay"
        loading="lazy"></iframe>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "@styles/include-media" as query;

  .resume-container {
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .resume {
    @include query.media("<=tablet") {
      margin-top: 120px;
      height: 450px;
    }
    @include query.media(">=tablet") {
      margin-top: 120px;
      height: 1150px;
      min-width: 800px;
      max-width: 900px;
    }
    @include query.media(">=1440px") {
      width: 80%;
      max-width: 1280px;
    }

    width: 100%;
    display: flex;
    justify-content: center;
  }

  #resume-iframe {
    height: 100%;
    width: 100%;

    border: 1px solid var(--border-primary);
    border-radius: 10px;
    box-shadow: 10px 10px 0 var(--blue-10);
  }
</style>
