---
import Layout from "@layouts/Layout.astro";
import { getEntry } from "astro:content";

const entry = await getEntry({ collection: "pages", id: "resume" });

const { embedUrl } = entry.data;
---

<Layout title="Resume - Faraaz Biyabani">
  <div class="resume-container">
    <div class="resume">
      <iframe id="resume-iframe" title="Resume" src={embedUrl} allow="autoplay"
      ></iframe>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "@styles/include-media" as query;

  .resume-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .resume {
    @include query.media("<=tablet") {
      margin-top: 120px;
      height: 450px;
    }
    @include query.media(">=tablet") {
      margin-top: 120px;
      height: 1150px;
      min-width: 800px;
      max-width: 900px;
    }
    @include query.media(">=1440px") {
      width: 80%;
      max-width: 1280px;
    }

    width: 100%;
    display: flex;
    justify-content: center;
  }

  #resume-iframe {
    height: 100%;
    width: 100%;

    border: 1px solid var(--border-primary);
    border-radius: 10px;
    box-shadow: 10px 10px 0 var(--blue-10);
  }
</style>
