@use "~include-media/dist/include-media" as query with (
  $breakpoints: (
    phone: 450px,
    tablet: 810px,
    desktop: 1024px,
  )
);

#nav-header {
  //width: 100%;
  //height is assigned using grid-template-rows below
  //min-height: 10%;
  position: fixed;
  top: 0;
  display: grid;

  --lr-margins: 12%;
  @include query.media("<tablet") {
    --lr-margins: 8%;
  }
  @include query.media(">=1440px") {
    --lr-margins: 18%;
  }
  grid-template-rows: 80px 1fr;
  grid-template-columns:
    [mr] var(--lr-margins) [logo] minmax(150px, 720px) [nav] minmax(auto, 720px)
    [ml] var(--lr-margins);
  //centers item inline - wrt row
  align-items: center;
  justify-content: center;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--header-bg);
  transition:
    background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1),
    top 500ms ease-in-out;
  z-index: 1;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 1px 24px 0,
    rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

#nav-header.scroll-up,
#nav-header:focus-within {
  top: 0;
}

#nav-header.scroll-down {
  top: -100%;
  //top: 0;
}

.nav-link-container {
  align-self: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include query.media(">1920px") {
    max-width: 1440px;
  }
}

.logo {
  grid-column-start: logo;
}

#logo-link {
  display: inline-block;
  height: 1.5rem;
  text-decoration: none;
  color: var(--text-primary);
}

#faraaz-biyabani {
  height: 1.5rem;
}

.nav-links {
  grid-column-start: nav;
  display: flex;
  column-gap: 20px;
  align-items: center;
  @include query.media("<=tablet") {
    display: none;
  }
}

.nav-link:nth-last-child(5) {
  margin-left: auto;
}

.nav-link {
  font-family: var(--font-sans-serif);
  font-weight: 500;
  font-size: 0.85rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-primary);
}

.icon-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px;
}

.icon-button:hover {
  background: var(--icon-button-hover);
  border-radius: 50%;
}

.icon-button-label {
  margin-left: 10px;
}

.nav-button {
  grid-column-start: nav;
  margin-left: auto;
  @include query.media(">tablet") {
    display: none;
  }
}

.nav-menu {
  grid-row-start: 2;
  grid-column-start: 2;
  margin: 5px 10px 40px 5px;
}

.nav-menu.closed {
  display: none;
}

.nav-menu-items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.nav-menu-item {
  font-family: var(--font-sans-serif);
  color: var(--text-primary);
}

.item-active {
  outline: 3px solid #4369a8;
}
