@use "./variables.scss" as *;

@mixin light-theme {
  color-scheme: light;

  --text-primary: #{$light-text-primary};
  --background-primary: #{$light-background-primary};
  --background-secondary: #{$light-background-secondary};
  --border-primary: #{$black};
  --button-border: #{$light-button-border};
  --header-bg: rgba(255, 255, 255, 0.9);
  --icon-button-hover: #{$light-theme-hover};

  --blue-10: #{$light-theme-blue-10};
  --green-10: #{$light-theme-green-10};
  --green-20: #{$light-theme-green-20};
  --green-30: #{$light-theme-green-30};
  --green-40: #{$light-theme-green-40};
  --yellow-10: #{$light-theme-yellow-10};
  --yellow-20: #{$light-theme-yellow-20};
  --yellow-30: #{$light-theme-yellow-30};
  --pink-10: #{$light-theme-pink-10};
  --pink-20: #{$light-theme-pink-20};
  --pink-30: #{$light-theme-pink-30};
  --cyan-10: #{$light-theme-cyan-10};
  --cyan-20: #{$light-theme-cyan-20};
}

@mixin dark-theme {
  color-scheme: dark;

  --text-primary: #{$dark-text-primary};
  --background-primary: #{$dark-background-primary};
  --background-secondary: #{$dark-background-secondary};
  --border-primary: #{$dark-border-primary};
  --button-border: #{$dark-button-border};
  --header-bg: rgb(40, 38, 48, 0.9);

  --icon-button-hover: #{$dark-theme-hover};
  --blue-10: #{$dark-theme-blue-10};
  --green-10: #{$dark-theme-green-10};
  --green-20: #{$dark-theme-green-20};
  --green-30: #{$dark-theme-green-30};
  --green-40: #{$dark-theme-green-40};
  --yellow-10: #{$dark-theme-yellow-10};
  --yellow-20: #{$dark-theme-yellow-20};
  --yellow-30: #{$dark-theme-yellow-30};
  --pink-10: #{$dark-theme-pink-10};
  --pink-20: #{$dark-theme-pink-20};
  --pink-30: #{$dark-theme-pink-30};
  --cyan-10: #{$dark-theme-cyan-10};
  --cyan-20: #{$dark-theme-cyan-20};
}


/*
If 'light' or 'dark' class is present, use the corresponding scheme, otherwise use the
browser color scheme.
So, the theme toggle in the header simply acts as an override to prefers-color-scheme
and doesn't use local storage assuming that one wouldn't use their  browser/system with
light theme and want the website to use the dark theme.
*/
.light {
  @include light-theme;
}

.dark {
  @include dark-theme;
}

// OS Default
:root:not(.light):not(.dark) {
  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}