@use "src/theme/theme";
@use "src/theme/base";
@use "src/theme/media" as query;

.layout {
  display: flex;
  flex-direction: column;
  // added for margins on larger displays
  //align-items: center;
  height: 100%;
}

header {
  width: 100%;
}

.content {
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 12%;
  @include query.media('<tablet') {
    margin: 0 8%;
  };
  @include query.media('>=1440px') {
    margin: 0 18%;
  };
  @include query.media('>1920px') {
    max-width: 1440px;
  }
}

footer {
  min-height: 10%;
  width: 100%;
  margin-top: 100px;
  flex-shrink: 0;
}