// @use "src/components/variables.scss" as *;
// @use "src/components/theme.scss";
@use "src/theme/media" as query;
@use "./contact-form";



#footer {
  font-family: var(--font-handwriting);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  border-top: thin dashed var(--border-primary);
  background-color: var(--background-secondary);
}

#footer > * {
  @include query.media('<=phone') {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.footer-nav-links {
  font-family: var(--font-sans-serif);
  display: flex;
  column-gap: 20px;
}

#bye {
  color: var(--text-primary);
  margin-bottom: 20px;
  font-size: 1.1rem;
}


.contact-links {
  font-family: var(--font-mono);
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.contact-link svg.linkedin {
  position: relative;
  bottom: 3px;
}
