---
import type { Skills } from "./skills.schema";
import { Icon } from "@components/Icon";
import classnames from "classnames";

interface Props {
  data: Skills;
}

const { data } = Astro.props;
const { heading, skills } = data;
---

<section id="skills" class="skills-container">
  <h2 class="header-2">{heading}</h2>
  <ul class="skills">
    {
      skills.map(({ title, icon, mono }) => {
        return (
          <li class="skill">
            <span class={classnames("li-icon", { mono: mono })}>
              <Icon name={icon} />
            </span>
            {title}
          </li>
        );
      })
    }
  </ul>
</section>

<style lang="scss">
  .skills-container {
    width: 100%;
  }

  .skills {
    //width: 100%;
    display: grid;
    //place-items: center;
    align-items: center;
    //justify-items: center;

    --grid-layout-gap: 30px;
    --grid-column-count: 4;
    --grid-item--min-width: 100px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc(
      (100% - var(--total-gap-width)) / var(--grid-column-count)
    );

    grid-template-columns: repeat(
      auto-fill,
      minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
    );
    grid-gap: 15px var(--grid-layout-gap);

    list-style: none;
    font-family: var(--font-sans-serif);
    font-weight: 500;
    background-color: var(--background-secondary);
    border-radius: 15px;
    padding: 40px;
  }

  .skill {
    display: flex;
    //align-items: center;
    column-gap: 10px;
  }
</style>
